*{
  margin: 0;
}

.main{
    background-image: url(./apex.show.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 500px;
    
    
}
.apex {
  display: flex;
  text-align: center;
  width: 80%;
  position: sticky;
  top: 11%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
}
.text{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 50%;
    padding-top: 5px;
    padding-left: 100px;
    font-size: 20px;
    color: white;
}
.img{
    padding-right: 10px;
    display: flex;
    
}
.apex:hover{
    background-color: #110e0e;
    color: rgb(240, 230, 230);
    
}
.div2{
    display: flex;
    padding-left: 1500px;
    background-color: white;
    width: 100%;
    height: 30px;
    position: relative;
    
}
.div3{
    padding-left: 10px;
}
.offer{
    text-align: center;
    color: white;
    margin-top: 50px;

}
.button {
  border: none;
  color: white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.button1 {
    font-size: larger; 
  background-color: transparent;
  border-radius: 5px;
  border-color: white;
  color: white;
  
  
}

.button1:hover {
  background: rgb(0, 0, 0);
  color: white;
}

.button2 {
   border-radius: 12px;
  color: black; 
  
}

.button2:hover {
  
  color: white;
}
.xxx{
    display: flex;
    justify-content: center;
    padding-left: 5px;
    
    
}
.div2 ::before{
    height: 5px;
    width: 2px;
}
.xx{
    padding: 10px;
}
.black{
  background-color: rgb(14, 13, 13);
  height: 500px;
  width: 100%;
  
  
  
}
.hhh{
  top: 50px;
  left: 10%;
  position: relative;
  color: white;
  padding: 0 100px;
}
.buttonm{
  border: none;
  color: white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.mmm{
  font-size: larger; 
  background-color: transparent;
  border-radius: 5px;
  border-color: white;
  color: white;
  padding-left: 10px;
  
}
.www{
  font-size: larger; 
  background-color: transparent;
  border-radius: 5px;
  border-color: white;
  color: white;
}
.kkk{
  font-size: larger; 
  background-color: transparent;
  border-radius: 5px;
  border-color: white;
  color: white;
}
.img222{
  width: 800px;
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: +1;
}
.video{
  position: absolute;
  left: 50%;
  top: 25%;
  
}
.divimg{
  display: flex;
  position: absolute;
  top: 110%;
  left: 8%;

}
.showimg1{
  padding: 5px;
}
.around{
  top: 160%;
  position: absolute;
  width: 100px;
  
}
.body22{
  
  margin-top: 48%;
  width: 100%;
}
.widding{
  text-align: center;
  margin-top: 27px;
  

}
.rrr{
  height: 5px;
  width: 500px;
  background-color: black;
  top: 2600px;
  position: absolute;
  left: 340px;
}
.qqq{
  height: 5px;
  width: 500px;
  background-color: black;
  top: 2600px;
  position: absolute;
  top: 2600px;
  right: 340px;
}
.nnn{
  height: 50px;
  width: 5px;
  background-color: black;
  position: absolute;
  left: 340px;
  top: 2600px;
}
.jjj{
  height: 50px;
  width: 5px;
  background-color: black;
  position: absolute;
  right: 340px;
  top: 2600px;
}
.aaa{

}
.vvv{

}
.rew{
  display: flex;
  left: 35%;
  top: 285%;
  position: absolute;
  
}
.last{
  position: absolute;
  top: 2900px;
  background-color: black;
  height: 5px;
  width: 1220px;
  left: 340px;
}
.last2{
  height: 50px;
  width: 5px;
  background-color: rgb(2, 2, 2);
  position: absolute;
  left: 340px;
  top: 2850px;
}
.last3{
  height: 50px;
  width: 5px;
  background-color: rgb(7, 6, 6);
  position: absolute;
  right: 340px;
  top: 2855px;
}
.img3355{
  display: flex;
  position: absolute;
  top: 315%;
  left: 14%;

}
.img357{
  padding: 2%;
}
.pp225{
  position: absolute;
  top: 365%;
  left: 20%;
  background-color: white;
}
.pp226{
  position: absolute;
  top: 365%;
  left: 45%;
  background-color: white;
}
.pp227{
  position: absolute;
  top: 365%;
  left: 69%;
  background-color: white;
}
.shoe852{
  display: flex;
  position: absolute;
  top: 390%;
  left: 8%;
}

.shoemain {
  display: flex;
  position: absolute;
  top: 4000px;
  left: 80px;
  padding-left: 200px;
  
}

.shoesub {
  padding-left: 10px;
}

.arrow{
  font-size: 50px;
}

.h22{
  top: 50px;
  position: absolute;
}

.youngimg {
  position: absolute;
}

.imgggg{
  top: 1800px;
  position: absolute;
}

.annual {
  text-align: center;
  
  position: absolute;
  top: 620%;
  left: 40%;
}

.jf12{
  height: 5px;
  width: 500px;
  background-color: black;
  top: 5820px;
  position: absolute;
  left: 240px;
}

.jf13{
  height: 5px;
  width: 500px;
  background-color: black;
  top: 2600px;
  position: absolute;
  top: 5820px;
  right: 270px;
}

.jf14{
  height: 50px;
  width: 5px;
  background-color: black;
  position: absolute;
  left: 240px;
  top: 5820px;
}

.jf15{
  height: 50px;
  width: 5px;
  background-color: black;
  position: absolute;
  right: 270px;
  top: 5820px;
}

.main258{
  display: flex;
  position: absolute;
  top: 630%;
  left: 25%;
}

.img3322{
  padding-left: 20px;
}

.last555{
  position: absolute;
  top: 6200px;
  background-color: black;
  height: 5px;
  width: 1400px;
  left: 240px;
}

.last222{
  height: 50px;
  width: 5px;
  background-color: rgb(2, 2, 2);
  position: absolute;
  left: 240px;
  top: 6150px;
}

.last333{
  height: 50px;
  width: 5px;
  background-color: rgb(7, 6, 6);
  position: absolute;
  right: 260px;
  top: 6155px;
}

.linebar {
  height: 20px;
  width: 2px;
  background-color: rgb(15, 14, 14);
  position: absolute;
  left: 1589px;
  top: 3px;
}
.linebar {
  height: 20px;
  width: 2px;
  background-color: rgb(15, 14, 14);
  position: absolute;
  left: 1589px;
  top: 3px;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.tab{
  position: absolute;
  top: 6298px;
  margin: 0px;
}

.tab2{
  padding: 90px;
}

.main666 {
  display: flex;
  top: 690%;
  position: absolute;
  padding: 10%;
}

.bar852 input {
  border-radius: 0px;
  
}